In [2]:
import pandas as pd
import requests

In [28]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=40de1240f1bddcc126ea05d234ec4a63&language=en-US&page=1")

In [ ]:
# Data of ONLY 1 PAGE

In [29]:
temp_df=pd.DataFrame(response.json()["results"])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [30]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,44.9201,8.707,28075
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,48.3019,8.686,21276
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,23.8364,8.568,12858
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,25.6768,8.563,16329
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,14.2228,8.546,9045
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,38.7403,8.500,16997
6,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,8.2291,8.519,4478
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,33.5152,8.519,33664
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,18.4682,8.505,17983
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,25.5958,8.500,18891
10,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,22.1614,8.489,28522
11,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,24.8117,8.500,11696
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,26.5045,8.483,24926
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,22.6495,8.500,28058
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,17.1190,8.462,8909
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,17.1273,8.457,13254
16,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,5.5198,8.454,3851
17,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,46.4377,8.453,36874
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0153,8.500,5825
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,10.2654,8.448,13284

In [9]:
# EMPTY DATAFRAME

In [11]:
df=pd.DataFrame()

In [12]:
df

Empty DataFrame
Columns: []
Index: []

In [35]:
df_list = []
for i in range(1, 429):
    response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=40de1240f1bddcc126ea05d234ec4a63&language=en-US&page={}".format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'